
.bannerContainer {
    position: relative;
    width: 100%;
    height: 410px; 
  }
  
  .bannerImage {
    width: 100%;
    height: 410px;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
  }
  
  .textContainer {
    text-align: center;
  }
  
  .bannerTitle {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .bannerSubtitle {
    font-size: 8px; 
    margin-bottom: 20px;
  }
  
  .shopNow {
    font-size: 12px; 
    text-decoration: underline;
  }
  
  .navigation {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .chevronLeft,
  .chevronRight {
    font-size: 24px; 
    margin: 0 10px; 
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .bannerContainer {
        height: 300px; 
    }

    .bannerImage {
        height: 300px;
    }

    .bannerTitle {
        font-size: 36px;
    }

    .bannerSubtitle {
        font-size: 14px;
    }

    .shopNow {
        font-size: 10px;
    }

    .chevronLeft,
    .chevronRight {
        font-size: 20px; 
    }
}

@media (max-width: 480px) {
    .bannerContainer {
        height: 200px; 
    }

    .bannerImage {
        height: 200px;
    }

    .bannerTitle {
        font-size: 24px;
    }

    .bannerSubtitle {
        font-size: 12px;
    }

    .shopNow {
        font-size: 8px;
    }

    .chevronLeft,
    .chevronRight {
        font-size: 18px; 
    }
}